.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  min-height: 100vh;
}

.products {
  width: 100%;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 67vh;
}

.emptyCart h2 {
  color: var(--color-pictonBlue);
  margin-top: 2rem;
}
