.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed var(--color-pictonBlue);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions span {
  width: 20px;
  text-align: center;
  margin: 0 2px;
}

.actions button {
  background-color: var(--color-pictonBlue);
  color: var(--color-white);
  border: none;
  font-size: 1.3rem;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .card img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  .card p {
    font-size: 10px;
  }
  .actions span {
    width: 20px;
    text-align: center;
    margin: 0 2px;
    font-size: 10px;
  }
  .actions button {
    font-size: 12px;
    height: 15px;
    width: 15px;
    line-height: 12px;
    padding: 2px;
    border-radius: 3px;
  }
}
